.conteiner2{
    width: 100%;
    overflow: hidden;
    mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
}
.scroll{
    display: flex;
  width: max-content;
  animation: rolar 30s linear infinite;
}
.scroll img {
  width: 200px;
  margin-right: 10px;
}
@keyframes rolar {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
.canva{
  border-style:solid;
  box-sizing: border-box;
  border-width: 2px;
  align-items: center;
}
.canva img{
  display: flex;
  flex-direction: column;
  width: 200px;
  height: auto;
  column-gap: normal;
}
.canva p{
    display: flex;
    box-sizing: content-box;
    text-align: center; 
    font-size: 8px;
}
