.conteiner2{
    width: 100%;
    overflow: hidden;
    height: auto;
    mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
}
.scroll{
    display: flex;
  width: max-content;
  animation: rolar 30s linear infinite;
}
.scroll img {
  width: 200px;
  margin-right: 10px;
  width: auto;
  height: 25vw;
}
@keyframes rolar {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
.canva{
  border-style:solid;
  box-sizing: border-box;
  border-width: 2px;
  height: 75vw;
  width: auto;
  border-color: black;
  margin-bottom: 10vw;
}
.canva img{
  width: 85vw;
  height: 50vw;
  column-gap: normal;
  display: block; 
  margin: auto;
  border-width: 2px 0 0 0;
  border-color:black;
}
.canva p{
    box-sizing: content-box;
    text-align: center; 
    font-size: clamp(14px, 3vw, 25px);
}

